<a href="https://colab.research.google.com/github/Kamal0628/01_Flask_Tutorial/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
print("pandas loaded")

pandas loaded

In [3]:
df = pd.read_excel("flipkart_sales_data.xlsx")
df.drop(columns=['Order ID', 'Order Date'], inplace=True)
df

,Product Category,Sales Amount,Quantity Sold,Region,Customer Rating,Payment Method,Discount (%)
0,Home Decor,16295.0,2.0,East,1.5,UPI,10.0
1,Beauty & Health,1360.0,5.0,West,3.1,Credit Card,15.0
2,Electronics,5890.0,1.0,Central,1.5,Net Banking,5.0
3,Home Decor,12464.0,7.0,South,2.1,UPI,5.0
4,Grocery,11784.0,1.0,South,1.2,COD,10.0
...,...,...,...,...,...,...,...
1001,NaN,4880.0,NaN,South,NaN,NaN,NaN
1002,NaN,5257.0,NaN,West,NaN,NaN,NaN
1003,NaN,19597.0,NaN,Central,NaN,NaN,NaN
1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isna().sum()

Product Category    6
Sales Amount        2
Quantity Sold       6
Region              2
Customer Rating     6
Payment Method      6
Discount (%)        6
dtype: int64

In [5]:
df.columns[df.isna().any()].tolist()

['Product Category',
 'Sales Amount',
 'Quantity Sold',
 'Region',
 'Customer Rating',
 'Payment Method',
 'Discount (%)']

In [6]:
cat_columns = df.select_dtypes(include='object').columns.tolist()
cat_columns

['Product Category', 'Region', 'Payment Method']

In [8]:
for col in cat_columns:
  mode = df[col].mode()[0]
  df[col] = df[col].fillna(mode)

In [9]:
df.isna().sum()

Product Category    0
Sales Amount        2
Quantity Sold       6
Region              0
Customer Rating     6
Payment Method      0
Discount (%)        6
dtype: int64

In [13]:
outlier_info = {}

num_columns = df.select_dtypes(include=['number']).columns.tolist()

for col in num_columns:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    outlier_info[col] = outliers.shape[0]

    print(f"{col}: {outliers.shape[0]} outliers")

Sales Amount: 0 outliers
Quantity Sold: 0 outliers
Customer Rating: 0 outliers
Discount (%): 0 outliers

In [14]:
df[(df['Sales Amount'] < lower_bound) | (df['Sales Amount'] > upper_bound)]
#df[(df['cat_col_1'] < lower_bound) | (df['cat_col_1'] > upper_bound)] in general form

,Product Category,Sales Amount,Quantity Sold,Region,Customer Rating,Payment Method,Discount (%)
0,Home Decor,16295.0,2.0,East,1.5,UPI,10.0
1,Beauty & Health,1360.0,5.0,West,3.1,Credit Card,15.0
2,Electronics,5890.0,1.0,Central,1.5,Net Banking,5.0
3,Home Decor,12464.0,7.0,South,2.1,UPI,5.0
4,Grocery,11784.0,1.0,South,1.2,COD,10.0
...,...,...,...,...,...,...,...
999,Grocery,19597.0,7.0,Central,4.5,COD,5.0
1000,Grocery,13972.0,NaN,Central,NaN,COD,NaN
1001,Grocery,4880.0,NaN,South,NaN,COD,NaN
1002,Grocery,5257.0,NaN,West,NaN,COD,NaN
1003,Grocery,19597.0,NaN,Central,NaN,COD,NaN

In [15]:
df.dtypes

Product Category     object
Sales Amount        float64
Quantity Sold       float64
Region               object
Customer Rating     float64
Payment Method       object
Discount (%)        float64
dtype: object

In [16]:
# df['Order Date'] = pd.to_datetime(df['Order Date'])

In [17]:
df.duplicated().sum()

np.int64(1)

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df.duplicated().sum()

np.int64(0)

In [22]:
#encodin - one hot encoding
df_one__hot_encoding = pd.get_dummies(df, columns=cat_columns)
df_one__hot_encoding = df_one__hot_encoding.astype(int)
df_one__hot_encoding

,Sales Amount,Quantity Sold,Customer Rating,Discount (%),Product Category_Beauty & Health,Product Category_Books,Product Category_Electronics,Product Category_Fashion,Product Category_Grocery,Product Category_Home Decor,...,Region_Central,Region_East,Region_North,Region_South,Region_West,Payment Method_COD,Payment Method_Credit Card,Payment Method_Debit Card,Payment Method_Net Banking,Payment Method_UPI
0,16295,2,1,10,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
1,1360,5,3,15,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,5890,1,1,5,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,12464,7,2,5,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
4,11784,1,1,10,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,13972,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
1001,4880,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
1002,5257,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,0
1003,19597,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
1004,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0

In [23]:
#feature scaling
import numpy as np
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_one__hot_encoding[num_columns] = scaler.fit_transform(df_one__hot_encoding[num_columns])
df_one__hot_encoding.head()

,Sales Amount,Quantity Sold,Customer Rating,Discount (%),Product Category_Beauty & Health,Product Category_Books,Product Category_Electronics,Product Category_Fashion,Product Category_Grocery,Product Category_Home Decor,...,Region_Central,Region_East,Region_North,Region_South,Region_West,Payment Method_COD,Payment Method_Credit Card,Payment Method_Debit Card,Payment Method_Net Banking,Payment Method_UPI
0,0.815076,0.222222,0.2,0.4,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
1,0.068027,0.555556,0.6,0.6,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,0.294618,0.111111,0.2,0.2,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,0.623449,0.777778,0.4,0.2,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
4,0.589436,0.111111,0.2,0.4,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0